

.exercises-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.exercises{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px 50px;
}

.info-cart{
    margin-right: 200px;
}

@media screen and (max-width:576px) {
    .exercises{
        grid-template-columns: repeat(1,1fr);
        
    
    }
   .exercises-container{
    grid-template-columns: 1fr;

   }
   .info-cart{
    padding-left: 50px;
    padding-bottom: 50px;
   }
}
