

.exercises-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.exercises{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 100px 50px;
}

.info-cart{
    margin-right: 200px;
    
}
